.footer {
  padding: 8rem 3rem 8rem 3rem;
  background-color: $primary-color-dark;

  &__heading {
    font-size: 3rem;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 3rem;
  }

  &__stars {
    position: relative;
    display: flex;
    gap: 3rem;
    justify-content: center;
    height: 10rem;
    margin-bottom: 4rem;
  }
  &__star {
    width: 2.4rem;
    height: 2.4rem;
    fill: $color-white-1;
    &--1 {
      transform: translateY(8rem);
    }
    &--2 {
      transform: translateY(4rem);
    }
    &--3 {
      transform: translateY(1rem);
    }
    &--4 {
      transform: translateY(4rem);
    }
    &--5 {
      transform: translateY(8rem);
    }
    &--6 {
      position: absolute;
      top: 80%;
    }
  }
  &__socials {
    display: flex;
    gap: 2rem;
  }
  &__social {
    height: 2.4rem;
    width: 2.4rem;
    fill: $color-white-1;
  }
}
.CopyRight {
  display: flex;
  justify-content: space-between;

  span {
    flex-basis: 40%;
    font-size: 1.2rem;
    line-height: 1.5;
    color: $color-white-1;
    font-weight: 100;
  }
}
