.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba($color-black, 0.3),
      rgba($color-black, 0.3)
    ),
    url(../images/background.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  @include bgset;
  &__text-box {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -70%);
  }

  &__nav {
    list-style: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: flex-start;
    transition: all 0.2s;
    &--list {
      display: flex;
      gap: 1rem;
      list-style: none;
    }
    &--link {
      &:link,
      &:visited {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
      }
      &:hover,
      &:active {
        color: $primary-color-light;
      }
    }
    &--logo {
      height: 5rem;
      filter: brightness(30);
    }
  }
}

.heading--primary {
  color: $color-white;
  line-height: 1.5;
  text-align: center;
  &-main {
    font-size: 5rem;
  }
  &-sub {
    font-size: 3rem;
    color: $primary-color-light;
    display: block;
  }
}
