/*
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52

62/ 74 / 86 / 98

- Specing system
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

$primary-color: #364fc7;
$primary-color-dark: #3dabc2;
$primary-color-light: #4683bc;

$color-white: #fff;
$color-black: #000;
$color-gray-1: #d7d0c8;
$color-gray-2: #98887c;
$color-gray-3: #9f978d;
$color-gray-4: #343a40;

$defoult-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
