.heading--secondary {
  font-size: 3rem;
  margin: auto;
  margin-bottom: 3rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #10183c, #364fc7);
  -webkit-background-clip: text;
  color: transparent;
}

.heading--primary {
  line-height: 1.5;
  text-transform: uppercase;
  display: block;
  &-main {
    font-size: 5rem;
    text-align: center;
    color: $color-white;
    animation-name: moveLeft;
    animation-duration: 1.5s;
  }
  &-sub {
    font-size: 3rem;
    display: block;
    color: $primary-color-light;
    animation-name: moveRight;
    animation-duration: 1s;
  }
}
