.heading__secondary{
    font-size: 3rem;
    margin: auto;
    margin-bottom: 3rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right,#10183c, #364fc7);
    -webkit-background-clip: text;
    color: transparent;
}