.project{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:  4rem;
    max-width: 120rem;


    &__link{}
&__img{
    width: 100%;
    display: block;
}
&__text{}
}